<?xml version="1.0"?>
<config>
    <modules>
        <Gastrodax_Question>
            <version>1.0.0</version>
        </Gastrodax_Question>
    </modules>
    <frontend>
        <routers>
            <question>
                <use>standard</use>
                <args>
                    <module>Gastrodax_Question</module>
                    <frontName>question</frontName>
                </args>
            </question>
            <question>
                <args>
                    <modules>
                        <Gastrodax_Question>Gastrodax_Question</Gastrodax_Question>
                    </modules>
                </args>
            </question>
        </routers>
        <layout>
            <updates>
                <question>
                    <file>question.xml</file>
                </question>
            </updates>
        </layout>
        <translate>
            <modules>
                <question>
                    <files>
                        <default>Gastrodax_Question.csv</default>
                    </files>
                </question>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <question>
                <use>admin</use>
                <args>
                    <module>Gastrodax_Question</module>
                    <frontName>question</frontName>
                </args>
            </question>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <customer>
                <children>
                    <question module="question">
                        <title>Jura Filialanfragen</title>
                        <sort_order>72</sort_order>
                        <action>question/adminhtml_question</action>
                    </question>
                </children>
            </customer>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Gastrodax_Question>
                            <title>Question Module</title>
                            <sort_order>10</sort_order>
                        </Gastrodax_Question>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <question>
                    <file>question.xml</file>
                </question>
            </updates>
        </layout>
        <translate>
            <modules>
                <question>
                    <files>
                        <default>Gastrodax_Question.csv</default>
                    </files>
                </question>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <helpers>
            <question>
                <class>Gastrodax_Question_Helper</class>
            </question>
        </helpers>
        <models>
            <question>
                <class>Gastrodax_Question_Model</class>
                <resourceModel>question_mysql4</resourceModel>
            </question>
            <question_mysql4>
                <class>Gastrodax_Question_Model_Mysql4</class>
                <entities>
                    <question>
                        <table>gd_question</table>
                    </question>
                </entities>
            </question_mysql4>
        </models>
        <resources>
            <question_setup>
                <setup>
                    <module>Gastrodax_Question</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </question_setup>
            <question_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </question_write>
            <question_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </question_read>
        </resources>
        <blocks>
            <question>
                <class>Gastrodax_Question_Block</class>
            </question>
        </blocks>
        <template>
            <email>
                <question_notification_admin module="Gastrodax_Question">
                    <label>Question Notification Admin</label>
                    <file>question_notification_admin.html</file>
                    <type>html</type>
                </question_notification_admin>
            </email>
        </template>
        <events>
            <controller_action_predispatch_question_index_post>
                <observers>
                    <mymodule>
                        <class>question/observer</class>
                        <method>checkContacts</method>
                    </mymodule>
                </observers>
            </controller_action_predispatch_question_index_post>
        </events>
    </global>
</config>